In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Data location
dataset = 'Data/Banking_Marketing.csv'

# Create dataframe
df = pd.read_csv(dataset, header=0)

In [2]:
# Number of rows and columns
num_rows, num_columns = df.shape

print(f'Rows: {num_rows}\nColumns: {num_columns}')

Rows: 41199
Columns: 21

In [3]:
# List columns
print('Columns:')
for i in df.columns:
    print(f'- {i}')
print()

Columns:
- age
- job
- marital
- education
- default
- housing
- loan
- contact
- month
- day_of_week
- duration
- campaign
- pdays
- previous
- poutcome
- emp_var_rate
- cons_price_idx
- cons_conf_idx
- euribor3m
- nr_employed
- y

In [4]:
# Stat of all columns
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,41197.0,40.023812,10.434966,1.000,32.000,38.000,47.000,104.000
duration,41192.0,258.274762,259.270089,0.000,102.000,180.000,319.000,4918.000
campaign,41199.0,2.567514,2.769719,1.000,1.000,2.000,3.000,56.000
pdays,41199.0,962.485206,186.886905,0.000,999.000,999.000,999.000,999.000
previous,41199.0,0.172941,0.494859,0.000,0.000,0.000,0.000,7.000
emp_var_rate,41199.0,0.081900,1.570971,-3.400,-1.800,1.100,1.400,1.400
cons_price_idx,41199.0,93.575650,0.578845,92.201,93.075,93.749,93.994,94.767
cons_conf_idx,41199.0,-40.502002,4.628524,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41199.0,3.621336,1.734431,0.634,1.344,4.857,4.961,5.045
nr_employed,41199.0,5167.036455,72.249592,4963.600,5099.100,5191.000,5228.100,5228.100
y,41199.0,0.112648,0.316166,0.000,0.000,0.000,0.000,1.000

In [5]:
# Column information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41197 non-null  float64
 1   job             41199 non-null  object
 2   marital         41199 non-null  object
 3   education       41199 non-null  object
 4   default         41199 non-null  object
 5   housing         41199 non-null  object
 6   loan            41199 non-null  object
 7   contact         41193 non-null  object
 8   month           41199 non-null  object
 9   day_of_week     41199 non-null  object
 10  duration        41192 non-null  float64
 11  campaign        41199 non-null  int64
 12  pdays           41199 non-null  int64
 13  previous        41199 non-null  int64
 14  poutcome        41199 non-null  object
 15  emp_var_rate    41199 non-null  float64
 16  cons_price_idx  41199 non-null  float64
 17  cons_conf_idx   41199 non-null  float64
 18  euribor3m       41199 non-null  float64
 19  nr_employed     41199 non-null  float64
 20  y               41199 non-null  int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.6+ MB
None

In [6]:
# Count how many NAs
na_ = df.isna().any()
dtypes_ = df.dtypes
sum_na_ = df.isna().sum()
info = pd.concat([na_, sum_na_, dtypes_], axis=1, keys=['Has NAs', 'NA sum', 'type'])
print(info)

                Has NAs  NA sum     type
age                True       2  float64
job               False       0   object
marital           False       0   object
education         False       0   object
default           False       0   object
housing           False       0   object
loan              False       0   object
contact            True       6   object
month             False       0   object
day_of_week       False       0   object
duration           True       7  float64
campaign          False       0    int64
pdays             False       0    int64
previous          False       0    int64
poutcome          False       0   object
emp_var_rate      False       0  float64
cons_price_idx    False       0  float64
cons_conf_idx     False       0  float64
euribor3m         False       0  float64
nr_employed       False       0  float64
y                 False       0    int64

In [7]:
# Get rid of rows with NAs
df = df.dropna()
print(df.isna().sum())

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [8]:
# Check frequency of education
df.education.value_counts()

university.degree      12167
high.school             9516
basic.9y                6045
professional.course     5242
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [9]:
# Find unique values
df.education.unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [10]:
# Colapse the basic categories
df.education.replace({'basic.9y':'basic', 'basic.6y':'basic', 'basic.4y':'basic'}, inplace=True)
df.education.unique()

array(['basic', 'unknown', 'university.degree', 'high.school',
       'professional.course', 'illiterate'], dtype=object)

In [11]:
# Encode data
data_column_category = df.select_dtypes(exclude=[np.number]).columns
data_column_category

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome'],
      dtype='object')

In [12]:
data_column_number = df.select_dtypes([np.number]).columns
data_column_number

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [13]:
# One-Hot encoding
df_onehot_getdummies = pd.get_dummies(df[data_column_category])
df_ = pd.concat([df_onehot_getdummies, df[data_column_number]], axis=1)
df_.columns

Index(['job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_no',
       'default_unknown', 'default_yes', 'housing_no', 'housing_unknown',
       'housing_yes', 'loan_no', 'loan_unknown', 'loan_yes',
       'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'day_of_week_fri',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success', 'age', 'duration', 'campaign', 'pdays', 'previous',
       'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m',
       'nr_employed', 'y'],
      dtype='object')

In [14]:
# Split the data into training and test sets
X = df_.drop('y', axis=1)
y = df_['y']

pstr = f"""The shape of X (feature matrix): {X.shape}
The shape of y (target matrix): {y.shape}"""
print(pstr)

The shape of X (feature matrix): (41187, 61)
The shape of y (target matrix): (41187,)

In [15]:
# Split 80:20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

pstr =f"""The shape of training features: {X_train.shape}
The shape of training targets: {y_train.shape}
The shape of testing features: {X_test.shape}
The shape of testing targets: {y_test.shape}"""
print(pstr)

The shape of training features: (32949, 61)
The shape of training targets: (32949,)
The shape of testing features: (8238, 61)
The shape of testing targets: (8238,)